
body {
    background-image: url(images/sauu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     
    }
div.container h2{
    text-align: center;
    }
div.mb-3{
    width: 275px;
    }
