
      body {
        background-color: #f2f2f2;
        
      }
      .image {
        float: left;
        width: 33.33%;
        padding: 5px;
        box-sizing: border-box;
      }

      .image img {
        width: 100%;
        height: auto;
      }

      .image p {
        text-align: center;
      }


      .navbar-nav .nav-link{
        font-weight: 800;
        color: #CCCCCC;

      }

      .form-container {
        margin-right: 1em;
      }

